/* Geral */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: hsl(210, 100%, 50%);
    --color-secondary: hsl(210, 100%, 40%);
    --bg-primary: hsl(0, 0%, 95%);
    --bg-secondary: hsl(0, 0%, 90%);
    --text-primary: hsl(0, 0%, 5%);
    --text-secondary: hsl(0, 0%, 95%);
    --shadown: hsla(0, 0%, 0%, 0.3);
}

:root.dark {
    --bg-primary: hsl(0, 0%, 10%);
    --bg-secondary: hsl(0, 0%, 5%);
    --text-primary: hsl(0, 0%, 95%);
    --text-secondary: hsl(0, 0%, 5%);
    --shadown: hsla(0, 0%, 100%, 0.3);
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 3.6rem;
    font-size: 16px;
}

/* Font Family Setup */

header, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

h1, h2, h3 {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
}

/* Typography Sizes */

h1, .cg-h1 {
    font-size: clamp(1.80rem, calc(1.636rem + 0.818vw), 2.25rem);
}

h2, .cg-h2 {
    font-size: clamp(1.50rem, calc(1.364rem + 0.682vw), 1.88rem);
}

h3, .cg-h3 {
    font-size: clamp(1.40rem, calc(1.273rem + 0.636vw), 1.75rem);
}

.cg-h6 {
  font-size: clamp(1.10rem, calc(1.000rem + 0.500vw), 1.38rem);
}

body, .cg-base {
    font-size: clamp(1.00rem, calc(0.909rem + 0.455vw), 1.25rem);
}

.cg-small {
    font-size: clamp(0.88rem, calc(0.795rem + 0.398vw), 1.09rem);
}

/* Navbar */

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 1.25rem;
    background: linear-gradient(to right, var(--color-primary), var(--color-secondary));
    outline: 3px solid var(--color-secondary);
}

.menu-desktop {
    display: none;
}

.logo {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    color: var(--text-secondary);
}

.nav-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.9rem;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.6rem;
    height: 1.6rem;
    border: none;
    cursor: pointer;
    background: none;
    font-size: 1.2rem;
    color: var(--text-secondary);
    outline: 1px solid var(--text-secondary);
    border-radius: 50%;
}

.nav-btns .btn:nth-child(2) {
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    outline: none;
    border-radius: 0;
}

.nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    background: linear-gradient(to bottom, var(--color-primary), var(--color-secondary));
    outline: 3px solid var(--color-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    transition: left 0.3s ease;
    list-style: none;
}

.nav-links a {
    display: flex;
    text-decoration: none;
    color: var(--text-secondary);
    gap: 0.6rem;
}

.nav-links.active {
    left: 0;
}

/* Hero */

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 1.9rem;
    padding: 1.9rem;
    background: linear-gradient(to bottom, var(--bg-primary), var(--bg-secondary));
    overflow: hidden;
}

.hero-img-container {
    position: relative;
    width: 13.5rem;
    height: 13.5rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 3px solid transparent;
    background:
        linear-gradient(var(--bg-primary), var(--bg-primary)) padding-box,
        conic-gradient(from var(--angle), var(--color-primary) 0deg, var(--color-secondary) 180deg, transparent 360deg) border-box;
    animation: rotate-gradient 3s linear infinite;
}

.hero-img {
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    object-fit: cover;
}

@property --angle {
    syntax: '<angle>';
    initial-value: 360deg;
    inherits: false;
}

@keyframes rotate-gradient {
    to {
        --angle: 0deg;
    }
}

.hero-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 1.25rem;
    gap: 1.25rem;
}

.hero-text h1 {
    color: var(--color-secondary);
}

.hero-text p {
    line-height: 1.4rem;
    color: var(--text-primary);
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.social-media > .btn {
    font-size: 1.7rem;
    width: 2.8rem;
    height: 2.8rem;
    outline: 1px solid var(--color-primary);
    color: var(--color-secondary);
    transition: transform 0.3s ease;
}

.social-media > .btn i {
    line-height: 1;
    transform: translateY(1px);
}

.social-media > btn:hover {
    transform: scale(1.1);
    color: var(--text-secondary);
    background-color: var(--color-secondary);
    outline-color: transparent;
}

.social-media > .btn:active {
    transform: scale(0.95);
}

.hero-container > .btn {
    text-decoration: none;
    box-shadow: 0 4px 10px var(--shadown);
    width: 13.5rem;
    height: 3rem;
    font-size: 1rem;
    border-radius: 24px;
    gap: 0.6rem;
    background-color: var(--color-secondary);
    color: var(--text-secondary);
    outline: 1px solid transparent;
    transition: transform 0.3s ease;
}

.hero-container > .btn i {
    font-size: 1.5rem;
    transform: translateY(0.7px);
}

.hero-container > .btn:hover {
    transform: scale(1.03);
    color: var(--color-secondary);
    background-color: transparent;
    outline-color: var(--color-secondary);
}

.hero-container > .btn:active {
    transform: scale(0.97);
}

/* About & Skills */

.container {
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
}

.about-container h2 {
    color: var(--text-secondary);
}

.about-container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 1.9rem;
    background-color: var(--color-secondary);
}

.about-container p {
    color: var(--text-secondary);
    font-size: 1rem;
    line-height: 1.6rem;
}

.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.9rem;
    gap: 1.25rem;
    background-color: var(--bg-primary);
}

.skills-container h2 {
    color: var(--text-primary);
}

.skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.25rem;
}

.skill {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    will-change: transform;
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 12px;
    transform: rotate(45deg);
    border: 3px solid transparent;
    background:
        linear-gradient(var(--bg-primary), var(--bg-primary)) padding-box,
        conic-gradient(from var(--angle), var(--color-primary) 0deg, var(--color-secondary) 180deg, transparent 360deg) border-box;
    animation: rotate-gradient 3s linear infinite;
}

.skill img {
    width: 2.5rem;
    height: 2.5rem;
    transform: rotate(-45deg);
    object-fit: cover;
}

/* Projects */

.projects-container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    padding: 1.9rem;
    gap: 1.25rem;
    background: linear-gradient(to bottom, var(--bg-primary), var(--bg-secondary));
}

.projects-container h2 {
    color: var(--text-primary);
}

.projects {
    display: flex;
    align-items: stretch;
    gap: 2.5rem;
    overflow-x: auto;
    overflow-y: visible;
    width: 100%;
    height: 26.2rem;
    padding-inline: calc(50% - 140px);
    padding-block: 4px;
}

.project {
    box-shadow: 0 4px 10px var(--shadown);
    display: flex;
    flex-direction: column;
    width: 17.5rem;
    height: 25rem;
    border-radius: 16px;
    flex-shrink: 0;
    overflow: hidden;
    background-color: var(--bg-primary);
    transition: transform 0.3s ease;
}

.project:active {
    transform: scale(0.98);
}

.project img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}

.project h3 {
    color: var(--text-primary);
}

.project-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.6rem;
    padding: 0.9rem;
    flex: 1;
    cursor: pointer;
    text-decoration: none;
    color: var(--text-primary);
    overflow: hidden;
    transition: color 0.3s ease;
}

.project-link:hover {
    text-decoration: underline;
    color: var(--color-primary);
}

.project-link p {
    line-height: 1.4rem;
}

.badges {
    display: flex;
    align-items: center;
    margin: 0.9rem;
    gap: 0.6rem;
}

.badges img {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
}

/* Footer */

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    padding: 1.9rem;
    height: 25vh;
    background-color: var(--text-primary);
}

.footer-container > .social-media a:hover {
    color: var(--text-primary);
}

.footer-container p {
    color: var(--text-secondary);
    font-size: 0.7rem;
}

/* Desktop */

@media (min-width: 1024px) {

    /* Geral */

    html {
        scroll-padding-top: 4.6rem;
    }
    
    /* Navbar */

    .navbar {
        padding: 0.9rem 1.9rem;
    }
    
    .menu-mobile {
        display: none;
    }

    .menu-desktop {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 1.25rem;
    }

    .nav-links {
        position: static;
        top: auto;
        left: auto;
        height: auto;
        background: none;
        outline: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 1.9rem;
        transition: none;
    }

    /* Hero */

    .hero-container {
        height: auto;
        padding: 7.5rem 1.9rem;
    }

    /* About & Skills */

    .container {
        grid-template-columns: 60% 40%;
        outline: 3px solid var(--color-secondary);
    }

    .about-container {
        padding: 7.5rem 1.9rem;
    }

    .skills-container {
        padding: 7.5rem 1.9rem;
    }

    /* Projects */

    .projects-container {
        padding: 7.5rem 1.9rem;
        height: auto;
    }

    .projects {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: auto;
        height: auto;
        overflow-x: visible;
        padding-inline: 0;
        padding-block: 0;
        padding: 0 2.5rem;
    }

    .project {
        width: 18.75rem;
        overflow: visible;
    }

    .project:hover {
        transform: translateY(-10px) scale(1.05);
    }

    /* Footer */

    .footer-container {
        padding: 3.75rem 1.9rem;
        height: auto;
    }
}